osmapi==1.1.0
tzlocal==1.5.1
jinja2==2.10
pymongo==3.6.1
shapely==1.6.4.post1
requests==2.18.4
prometheus_client==0.2.0
flask==1.0.2
flask-restful==0.3.6
connexion==1.4.2
elasticsearch==6.2.0
eventlet==0.23.0
kombu==4.2.0
avro==1.8.2
python-dateutil==2.7.3
