osmapi==1.1.0
tzlocal==1.5.1
jinja2==2.11.3
pymongo==3.7.2
shapely==1.6.4.post1
requests==2.20.0
prometheus_client==0.2.0
flask==1.0.2
flask-restful==0.3.6
connexion==1.5.3
elasticsearch==6.3.1
eventlet==0.24.1
kombu==4.2.1
avro==1.8.2
python-dateutil==2.7.5
