nav ul {
    display: inline-block;
    position:fixed; top:0px; margin:auto; z-index:100000; width:100%;
    background:rgb(30,85,122);
    height:28px; line-height: 28px;
    padding: 5px;
    opacity:1;
    border-bottom: 2px solid rgb(255,255,255);
}
body.navbar{
    padding-top:40px;
}
nav ul li:first-child {
    #width: 200px;
}
#nav ul li:last-child {
#    float:right;
#    overflow: hidden;
#    #width: auto;
#    font-weight:normal;
#    padding-right: 20px;
#}
nav ul li {
    #width: 140px;
    color: #fff;
    font-weight:bold;
}
nav ul li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 2px solid rgb(50,105,142);
    #font-size: 14px;
    #line-height: 44px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    color: #fff;
}
nav ul li.selected a {
    color: #fff;
}

body {
    font-family: Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,sans-serif;font-size:12px;
    margin: 0;
}

#map {
display:inline-block;
vertical-align:top;
width: 480px;
height: 320px;
}

#csetlist {
    margin: 8px;
}

#summary {
display:inline-block;
vertical-align:top;
border: 1px solid rgb(92,152,205);
border-radius: 3px;
background-color: rgb(240,247,252);
}

#generation {
display: none;
}
#summary_created {
display: none;
}
#pointer_timestamp {
display: none;
}
#sequence_numbers {
display: none;
}

.summary {
margin: 4px;
}

ul
{
list-style-type:none;
padding:0;
#overflow:hidden;
}

ul.details {
overflow: visible;
}

li.cset
{
display: inline-block;
margin-top: 10px;
margin-bottom: 14px;
border: 1px solid rgb(220,220,220);
}

li.cset div.legend
{
width: 6px;
padding-left: 0;
padding-right: 0;
padding-top: 6px;
padding-bottom: 6px;
}

ul.csethead div {
margin-right: 10px;
padding-top: 6px;
padding-bottom: 6px;
}

ul.csethead div.icon {
    width: 12px;
    height: 12px;
    position:relative;
    overflow: visible;
    padding: 0px;
}
ul.csethead div.icon img {
    margin: auto;
    position: absolute;
    top: -2;
    width: 16px;
    height: 16px;
}

li.cset div
{
display: inline-block;
}

li.cset ul.csethead:after,ul.details:after
{
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0;			    
    clear: both;
}

li.cset ul.csethead
{
display: block;
background-color: rgb(235,235,235);
border-bottom: 1px solid rgb(220,220,220);
}

li.new {
display:none;
#line-height: 2em;
}

ul li
{
float:left;
margin-right: 4px;
}

ul.details
{
padding-left: 12px;
padding-right: 12px;
padding-top: 6px;
padding-bottom: 6px;
}

ul.details li
{
margin: 3px;
}

ul.details li div
{
display: inline;
border: 1px solid rgb(100,100,100);
padding: 1px;
}

ul.details li div:first-child
{
background-color: rgb(255,255,200);
padding: 1px;
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
#border-right: 0px;
padding-right: 3px;
}

ul.details li div+div
{
#background-color: rgb(240,220,220);
padding: 1px;
padding-left: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-left: 0px;
}

ul.details li.action_create div:first-child
{
background-color: rgb(220,255,220);
#background-color: rgb(240,220,220);
}
ul.details li.action_delete div:first-child
{
background-color: rgb(255,220,220);
}
ul.details li.action_modify div:first-child
{
background-color: rgb(250,250,200);
}
ul.details li.action_geomodif div:first-child
{
background-color: rgb(236,236,236);
}

ul.details li div.trailer {
border: 0px;
background-color: transparent;
}
ul.csethead li div.warning a, ul.csethead li div.warning {
background-color: transparent;
color: rgb(255,100,100);
font-style: oblique;
#border: 2px solid rgb(255,100,100);
}

li div.changeset-source {
display: none;
}

ul.summary li
{
float:none;
list-style-type:none;
margin: 2px;
}

ul.sum-list
{
margin-left: 10px;
}

.mapinfo {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
tr.tagadded {
    background: rgb(0,154,0);
}
tr.tagdeleted {
    background: rgb(255,34,0);
}
tr.tagchanged {
    background: rgb(102,170,204);
}
th {
    background: rgb(220,220,220);
}
td, th {
    padding-left: 2px;
    padding-right: 4px;
    border: 1px solid rgb(100,100,100);
    max-width: 300px;
    font-family: Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,sans-serif;font-size:10px;
}
.leaflet-popup-content {
    #width:auto !important;
}
h1 {
  font-family: Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,sans-serif;font-size:16px;
}

.csetopen,
.node_create, .node_delete, .node_modify,
.way_create, .way_delete, .way_modify,
.relation_create, .relation_delete, .relation_modify,
.simplenodes_create, .simplenodes_delete, .simplenodes_modify,
.navigable_create, .navigable_delete {
    display: inline;
    position: relative;
}

.csetopen:hover:after,
.node_create:hover:after, .node_delete:hover:after, .node_modify:hover:after,
.way_create:hover:after, .way_delete:hover:after, .way_modify:hover:after,
.relation_create:hover:after, .relation_delete:hover:after, .relation_modify:hover:after,
.simplenodes_create:hover:after, .simplenodes_delete:hover:after, .simplenodes_modify:hover:after,
.navigable_create:hover:after, .navigable_delete:hover:after {
    border: solid;
    border-color: #000 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.csetopen:hover:before,
.node_create:hover:before, .node_delete:hover:before, .node_modify:hover:before,
.way_create:hover:before, .way_delete:hover:before, .way_modify:hover:before,
.relation_create:hover:before, .relation_delete:hover:before, .relation_modify:hover:before,
.simplenodes_create:hover:before, .simplenodes_delete:hover:before, .simplenodes_modify:hover:before,
.navigable_create:hover:before, .navigable_delete:hover:before {
    background: #000;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.csetopen:hover:before {
    content: "Changetset is still open for edits";
}
.node_create:hover:before {
    content: "Nodes created";
}
.node_delete:hover:before {
    content: "Nodes deleted";
}
.node_modify:hover:before {
    content: "Nodes modified";
}
.way_create:hover:before {
    content: "Ways created";
}
.way_delete:hover:before {
    content: "Ways deleted";
}
.way_modify:hover:before {
    content: "Ways modified";
}
.relation_create:hover:before {
    content: "Relations created";
}
.relation_delete:hover:before {
    content: "Relations deleted";
}
.relation_modify:hover:before {
    content: "Relations modified";
}
.simplenodes_create:hover:before {
    content: "Simple nodes created (nodes with no tags)";
}
.simplenodes_delete:hover:before {
    content: "Simple nodes deleted (nodes with no tags)";
}
.simplenodes_modify:hover:before {
    content: "Simple nodes modified (nodes with no tags)";
}
.navigable_create:hover:before {
    content: "Navigable meters created (excluding waterways)";
}
.navigable_delete:hover:before {
    content: "Navigable meters deleted (excluding waterways)";
}
