<h1>Recent Changesets</h1>
{% import 'macros.html' as macros -%}

{% if csets|length==0 and csets_err|length==0 -%}
No changesets.

{% else %}

<ul>
{% for cid in csets_err -%}
{% set info = csetinfo[cid] -%}
<!-- ChangesetWErr {{cid}} source type {{info.source.dtype}} seqno {{info.source.sequenceno}} -->
{{ macros.cset_head_ts_li_start(info) }}  
  <ul class="csethead">
  {{ macros.cset_head_basic_li(info) }}
  <li><div class="warning"><div class="icon"><img src="/osm/att_l.png"></div>Error encountered while processing changeset</div></li>
  </ul>
</li>
{% endfor -%}


{% for cid in csets -%}
{% set info = csetinfo[cid] -%}
<!-- Changeset {{cid}} source type {{info.source.dtype}} seqno {{info.source.sequenceno}} -->
{{ macros.cset_head_ts_li_start(info) }}  
  {{ macros.cset_head_ul(info) }}
  {% if show_details %}
  <ul class="details">
    {{ macros.cset_change_summary(info) }}
    {{ macros.cset_tags(info) }}
    {{ macros.cset_tagdiff(info) }}
    {{ macros.affected_users_li(info) }}
  {% endif -%}

  {% if show_comments and info.meta.comments_count>0 %}
  {{ macros.cset_notes_li(info) }}
  {% endif -%}
  </ul>
</li>

{% endfor -%}
</ul>
{% endif -%}
