<h1>Recent Changesets which Changes Address Nodes</h1>
{% import 'macros.html' as macros %}

{% if csets|length==0 -%}
No changesets.

{% else -%}

<ul>
{% for c in csets -%}
{% set cid = c.cid -%}
{% set meta = csetmeta[cid] -%}
{% set info = csetinfo[cid] -%}
{% if info.misc.dk_address_node_changes -%}

  {% if info.misc.state=='new' -%}
  <li class="cset new" data-timestamp="{{info.misc.timestamp|js_datetime}} UTC" data-timestamp_type="{{info.misc.timestamp_type_txt}}">
  {% else -%}
  <li class="cset" data-timestamp="{{info.misc.timestamp|js_datetime}} UTC" data-timestamp_type="{{info.misc.timestamp_type_txt}}">
  {% endif -%}
    {{ macros.cset_head_ul(meta,info) }}
    <ul class="details">
    {{ macros.cset_change_summary(meta,info) }}
    {{ macros.cset_tags(meta,info) }}
    {{ macros.cset_tagdiff(meta,info) }}
    {{ macros.cset_notes_li(meta,info) }}
    </ul>
  </li>
{%- endif %}

{% endfor -%}
</ul>
{%- endif %}
