<h1>Recent Changesets with Notes</h1>
{% import 'macros.html' as macros %}

{% if csets|length==0 -%}
No changesets.

{% else -%}

<ul>
{% for cid in csets if csetinfo[cid].meta.comments_count>0 -%}
{% set info = csetinfo[cid] -%}

{% if info.misc.state=='new' -%}
<li class="cset new" data-timestamp="{{info.misc.timestamp|js_datetime}} UTC" data-timestamp_type="{{info.misc.timestamp_type_txt}}">
{% else -%}
<li class="cset" data-timestamp="{{info.misc.timestamp|js_datetime}} UTC" data-timestamp_type="{{info.misc.timestamp_type_txt}}">
{% endif -%}
  {{ macros.cset_head_ul(info) }}
  {% if show_comments and info.meta.comments_count>0 -%}
  <ul class="details">
  {{ macros.cset_notes_li(info) }}
  </ul>
  {% endif -%}
</li>

{% endfor -%}
</ul>
{%- endif %}
